@import 'partials/__variables.scss';
@import 'partials/__mixins.scss';

body {
	margin: 0;
	background-color: pink;
	font: 100%/1.2 'Open Sans', sans-serif;
}

#app {
	margin: 0 auto;
}

main {
	padding: 1em;

	h1 {
		font-size: $font__size--h1;
		text-align: center;
		font-family: $font__header;
	}
}
