.button__group {
  font-size: 15px;
  
  .pure-button {
    font-size: 2em;
    display: block;
    width: 100%;
    margin-bottom: $space;
  }

  @include breakpoint(mobile--up) {
    display: flex;

    .pure-button {
      flex: 1;
    }

    .pure-button:nth-child(2) {
      margin-left: $space;
    }
  }
}
