body{
	margin: 0;
	font: 100%/1.2 'Open Sans', sans-serif;
	background: linear-gradient(45deg, rgba(252,236,252,1) 0%,rgba(251,166,225,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);

	.wrapper {
		overflow:hidden;
	}
}

#app {
	margin: 0 auto;
}

.cozy {
	margin: $space--small;
}

.center {
	text-align: center;
}

main {
	padding: 1em;

	h1 {
		font-size: $font__size--h1;
		text-align: center;
		font-family: $font__header;
		margin-bottom: $space--small;
	}

	h2 + p {
		margin-top: 0;
	}
}

.flex {
	display: flex;
  align-items: center;
  justify-content: center;

	&__center {
		height: 90vh;
		align-content: center;

		@include breakpoint(mobile--plus) {
			height: 100vh;
		}
	}
}
