// FONT FAMILIES
$font__header: 'Audiowide', cursive;
$font: 'Open Sans', Helvetica, Arial, sans-serif;

// FONT WEIGHTS
$font__weight: 400;
$font__weight--bold: 700;

// FONT SIZES
$font__size--h1: 3em;
