.versus {
  width: 100%;
  text-align: center;
}

svg.bubbles {
  filter: url('#goo');
  transform: translate(0,0);

  & > circle.bubble {
    fill: #7fffd4;
    transition: radius 2s cubic-bezier(.66,.1,.97,.36);
  }

  & > circle.bubble[data-song=SongB] {
    fill: pink;
  }
}

div#visualization {
  position: relative;

  .evee {
    position: absolute;
    display: inline-block;
    width: 265px;
    height: 267px;
    background: url('../assets/evee-01.svg') 0 0;
    animation: all-the-evees 1s steps(2) infinite;
  }

  .evee[data-song=SongA] {
    width: 265px;
    height: 134px;
    background: url('../assets/evee-02.svg') 0 0;
    animation: all-the-evees 1s steps(4) infinite;
  }
}

@keyframes all-the-evees {
  100% {
    background-position: 0 -535px;
  }
}
